/*
TurboTax ACA Subsidy Eligibility Calculator
Client: Intuit - TurboTax
By: Column Five Media, Inc.
Author: Benjamin Cordier
*/

/*
max-width
580px
first bp
525 - 767px
*/

/*
Fonts
*/

@font-face{font-family:'Avenir';src:url('../font/AvenirLT-Light.eot');src:url('../font/AvenirLT-Light.eot?#iefix') format('embedded-opentype'), url('../font/AvenirLT-Light.woff') format('woff'), url('../font/AvenirLT-Light.ttf') format('truetype'), url('../font/AvenirLT-Light.svg#Avenir') format('svg');font-weight:200;font-style:normal;}@font-face{font-family:'Avenir';src:url('../font/AvenirLT-Roman.eot');src:url('../font/AvenirLT-Roman.eot?#iefix') format('embedded-opentype'), url('../font/AvenirLT-Roman.woff') format('woff'), url('../font/AvenirLT-Roman.ttf') format('truetype'), url('../font/AvenirLT-Roman.svg#Avenir') format('svg');font-weight:400;font-style:normal;}@font-face{font-family:'Avenir';src:url('../font/AvenirLT-Medium.eot');src:url('../font/AvenirLT-Medium.eot?#iefix') format('embedded-opentype'), url('../font/AvenirLT-Medium.woff') format('woff'), url('../font/AvenirLT-Medium.ttf') format('truetype'), url('../font/AvenirLT-Medium.svg#Avenir') format('svg');font-weight:600;font-style:normal;}@font-face{font-family:'Avenir';src:url('../font/AvenirLT-Heavy.eot');src:url('../font/AvenirLT-Heavy.eot?#iefix') format('embedded-opentype'), url('../font/AvenirLT-Heavy.woff') format('woff'), url('../font/AvenirLT-Heavy.ttf') format('truetype'), url('../font/AvenirLT-Heavy.svg#Avenir') format('svg');font-weight:800;font-style:normal;}

/*
Normalize & Native UI Mods
*/

/* Correct overflow not hidden in IE 9/10/11. */
#calculator-wrapper svg:not(:root) {
  overflow: hidden;
}
/* Modify Select Input */
#calculator-wrapper select {
	display: block;
	color: #34b8f4;
	background-color: #ffffff;
  	font: inherit;
	margin: 0;
	width: 256px;
	height: 28px;
	padding: 6px 8px 6px 5px;
	font-size: 16px;
	border: 1px solid #34b8f4;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../img/arrow.svg) 96% / 6% no-repeat;
	overflow: auto;
	cursor: pointer;
} 
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) { 
    #calculator-wrapper select {
        background:none;
        padding: 5px;
        font-weight: 200;
		font-size: 16px;
    }
}
#calculator-wrapper input {
	font-weight: 200;
	font-size: 14px;
	background-color: transparent;
}
/* Remove Number Spinner*/
#calculator-wrapper input[type=number]::-webkit-outer-spin-button, #calculator-wrapper input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#calculator-wrapper input[type=number] {
    -moz-appearance:textfield;
}
#calculator-wrapper ::-webkit-input-placeholder {
	font-weight: 200;
	font-size: 16px;
	font-style: italic;
}
#calculator-wrapper ::-moz-placeholder { 
	font-weight: 200;
	font-size: 16px;
	font-style: italic;
} /* firefox 19+ */
#calculator-wrapper :-ms-input-placeholder {
	font-weight: 200;
	font-size: 16px;
	font-style: italic;
} /* ie */
#calculator-wrapper input:-moz-placeholder { 
	font-weight: 200;
	font-size: 16px;
	font-style: italic;
}
#calculator-wrapper input:focus, #calculator-wrapper select:focus, #calculator-wrapper textarea:focus, #calculator-wrapper button:focus, #calculator-wrapper .input:focus {
    outline: none;
}
#calculator-wrapper::-webkit-scrollbar {
    display: none;
}

/*
Core Styles
*/

body {
	margin: 0;
}
#calculator-wrapper {
	position: relative;
	max-width: 580px;
	min-width: 320px;
	width: 100%;
	height: 680px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #4e86c2;
	text-rendering: geometricPrecision;
}
#calculator-wrapper .pages {
	position: relative;
	max-width: 548px;
	height: 612px;
	padding: 16px 16px 42px 16px;
	background-color: transparent;
}
#calculator-wrapper .row {
	margin: 20px auto;
	max-width: 400px;
	width: 80%;
}
#calculator-wrapper a {
	color: #333333;
	text-decoration: none;
	/*padding: 4px;*/
	cursor: pointer;
}
#calculator-wrapper .underlined {
	text-decoration: underline;
	color: #666666;
	padding: 4px;
	cursor: poiner;
}
#calculator-wrapper .underlined:hover, #calculator-wrapper a:active {
	color: #0082c3;
	background-color: #f1f1f1;
	border-radius: 2px;
}
#calculator-wrapper .text-left {
	text-align: left;
}

/*
Brand Styles
*/

/* Font Colors */

#calculator-wrapper .deepblue {
	color: #0082c3;
}
#calculator-wrapper .skyblue {
	color: #34b8f4;
}
#calculator-wrapper .lightblue {
	color: #9cedf7;
}
#calculator-wrapper .navyblue {
	color: #00689c;
}
#calculator-wrapper .black {
	color: #333333;
}
#calculator-wrapper .darkgrey {
	color: #1e4263;
}
#calculator-wrapper .grey {
	color: #999999;
}
#calculator-wrapper .lightgrey {
	color: #dfdfdf;
}
#calculator-wrapper .offwhite {
	color: #f1f1f1;
}
#calculator-wrapper .white {
	color: #ffffff;
}
#calculator-wrapper .orange {
	color: #ff8000;
}
#calculator-wrapper .gold {
	color: #ffb63d;
}
#calculator-wrapper .green {
	color: #5ac54c;
}

/* Background Colors */

#calculator-wrapper .deepblue-bg {
	background-color: #0082c3;
}
#calculator-wrapper .skyblue-bg {
	background-color: #34b8f4;
}
#calculator-wrapper .lightblue-bg {
	background-color: #9cedf7;
}
#calculator-wrapper .navyblue-bg {
	background-color: #00689c;
}
#calculator-wrapper .black-bg {
	background-color: #333333;
}
#calculator-wrapper .darkgrey-bg {
	background-color: #1e4263;
}
#calculator-wrapper .grey-bg {
	background-color: #999999;
}
#calculator-wrapper .lightgrey-bg {
	background-color: #dfdfdf;
}
#calculator-wrapper .offwhite-bg {
	background-color: #f1f1f1;
}
#calculator-wrapper .white-bg {
	background-color: #ffffff;
}
#calculator-wrapper .orange-bg {
	background-color: #ff8000;
}
#calculator-wrapper .gold-bg {
	background-color: #ffb63d;
}
#calculator-wrapper .green-bg {
	background-color: #5ac54c;
}

/* Typography Styles */

#calculator-wrapper .title {
	font-weight: 200;
	font-size: 28px;
	line-height: 32px;
}
#calculator-wrapper .lead {
	font-weight: 200;
	font-size: 18px;
}
#calculator-wrapper .button {
	font-weight: 200;
	font-size: 18px;
}
#calculator-wrapper .cta {
	font-weight: 400;
	font-size: 18px;
}
#calculator-wrapper .body-text {
	font-weight: 400;
	font-size: 14px;
}
#calculator-wrapper .sub-text {
	font-weight: 400;
	font-size: 12px;
}
#calculator-wrapper .input, #calculator-wrapper .editable {
	font-size: 16px;
	font-weight: 200;
}

/*
Navigation Styles
*/

#calculator-wrapper .navigation, #calculator-wrapper .submit {
	cursor: pointer;
	z-index: 10;
}
#calculator-wrapper .back.navigation {
	position: absolute;
	top: 20px;
	left: 20px;
}
#calculator-wrapper .restart.navigation {
	position: absolute;
	top: 20px;
	left: 60px;
}
#calculator-wrapper .next.disabled, #calculator-wrapper .submit.disabled {
    pointer-events: none;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
/* Navigation Highlighting */
#calculator-wrapper .back svg rect,
#calculator-wrapper .restart svg rect {
	fill: #fff;
	transition: all .3s;
	-webkit-transition: all .3s;
}
#calculator-wrapper .back svg:hover rect,
#calculator-wrapper .restart svg:hover rect {
	fill: #34b8f4;
}
#calculator-wrapper .back svg polygon,
#calculator-wrapper .back svg polyline,
#calculator-wrapper .back svg path,
#calculator-wrapper .restart svg polygon,
#calculator-wrapper .restart svg polyline,
#calculator-wrapper .restart svg path {
	stroke: #34b8f4;
	transition: all .3s;
	-webkit-transition: all .3s;
}
#calculator-wrapper .back svg:hover polygon,
#calculator-wrapper .back svg:hover polyline,
#calculator-wrapper .back svg:hover path,
#calculator-wrapper .restart svg:hover polygon,
#calculator-wrapper .restart svg:hover polyline,
#calculator-wrapper .restart svg:hover path {
	stroke: #fff;
}

/*
Page Setup
*/

/* Display First Page */
#calculator-wrapper #page-1 {
	display: block;
}
#calculator-wrapper .page {
	position: relative;
	max-width: 548px;
	height: 612px;
	display: none;
	background-color: #ffffff;
}
#calculator-wrapper .page .page-aligner {
	width: 100%;
	height: 100%;
	display: table;
}
#calculator-wrapper .page .page-aligner .page-content {
    width: 100%;
    height: auto;
    display: table-cell;
    vertical-align: middle;
}
#calculator-wrapper .logo.right {
	position: absolute;
    text-align: right;
    bottom: 0px;
    right: 0px;
    width: auto;
    height: 52px;
    margin-right: 10px;
}
#calculator-wrapper .logo img {
	height: 48px
}

/*
Page Element Styles
*/

#calculator-wrapper .icon {
	height: 120px;
}
#calculator-wrapper .page .title {
	position: relative;
	letter-spacing: 2px;
}
#calculator-wrapper .page .lead {
    font-size: 24px;
    position: relative;
    max-width: 268px;
}
#calculator-wrapper .input, #calculator-wrapper .editable, #calculator-wrapper .button {
	max-width: 256px;
	width: 80%;
    padding: 0px 8px;
    line-height: 40px;
    height: 40px;
}
#calculator-wrapper .input, #calculator-wrapper .editable {
   	min-width: 240px;
}
#calculator-wrapper .input {
	height: 40px;
	text-align: left;
}
#calculator-wrapper .editable {
	min-width: 222px;
    width: 75%;
    max-width: 240px;
	border: 1px solid #D1D1D1;
    border-radius: 4px;
    overflow: hidden;
	word-wrap: initial;
	white-space: nowrap;
}
#calculator-wrapper .editable:focus {
	box-shadow: none;
	border-color: #34b8f4;
}
#calculator-wrapper .editable.placeholder {
	font-style: italic;
	color: #D1D1D1;
}
#calculator-wrapper .button {
	max-width: 236px;
	width: 70%;
    min-width: 220px;
	border-radius: 4px;
	border: 2px solid;
	box-shadow: 1px 1px 1px #333333;
	transition: all .3s;
    -webkit-transition: all .3s;
}
#calculator-wrapper .sub-text, #calculator-wrapper .body-text, #calculator-wrapper .lead, #calculator-wrapper .title {
	max-width: 80%;
}
/* Button Border Styles */
#calculator-wrapper .button.orange-bg {
	border-color: #ff8000;
}
#calculator-wrapper .button.green-bg {
	border-color: #5ac54c;
}
#calculator-wrapper .button.skyblue-bg {
	border-color: #34b8f4;
}
#calculator-wrapper .button.deepblue-bg {
	border-color: #0082c3;
}
/* Button Hover Styles */
#calculator-wrapper .button.orange-bg:hover {
	background-color: #fff;
	color: #ff8000;
}
#calculator-wrapper .button.green-bg:hover {
	background-color: #fff;
	color: #5ac54c;
}
#calculator-wrapper .button.skyblue-bg:hover {
	background-color: #fff;
	color: #34b8f4;
}
#calculator-wrapper .button.deepblue-bg:hover {
	background-color: #fff;
	color: #0082c3;
}

/*
Page Specific Styles
*/

/* Page 1 (Intro) */
#calculator-wrapper #page-1 .title {
	max-width: 320px;
	width: 90%;
}
#calculator-wrapper #page-1 .body-text {
	margin: 0px auto 40px;
}
#calculator-wrapper #page-1 .sub-text {
	margin: 40px auto 0px;
}

/* Page 2 (Members of Household) */

/* Page 3 (Member DOBs) */
#calculator-wrapper #page-3 .scroll-mask {
	width: 400px;
	max-width: 400px;
	max-height: 220px;
	overflow: hidden;
}
#calculator-wrapper #page-3 .scroll-mask .scroll-container {
	width: 100%;
	width: 415px;
	max-height: 220px;
	overflow: hidden;
	overflow-y: scroll;
}
#calculator-wrapper #page-3 .scroll-mask .scroll-container .inputs {
	max-width: 400px;
	min-width: 256px;
	width: 100%;
	height: 100%;
}
#calculator-wrapper #page-3 .scroll-mask .scroll-container .inputs .input {
	margin-top: 10px;
	vertical-align:top;
}
#calculator-wrapper #page-3 .name-dob {
	max-width: 400px;
	width: 100%;
}
#calculator-wrapper #page-3 .name-dob .name, #calculator-wrapper #page-3 .input {
	display: inline-block;
	min-width: 0;
}
#calculator-wrapper #page-3 .name-dob .name {
	width: auto;
	max-width: 140px;
	min-width: 60px;
}
#calculator-wrapper #page-3 .name-dob .dob {
	display: inline-block;
	position: relative;
	max-width: 220px;
}
#calculator-wrapper #page-3 .name-dob .dob .day, #calculator-wrapper #page-3 .name-dob .dob .month {
	width: 64px;
	background: url(../img/arrow.svg) 84% / 14px no-repeat;
}
#calculator-wrapper #page-3 .name-dob .dob .year {
	width: 78px;
	background: url(../img/arrow.svg) 90% / 14px no-repeat;
}

/* Page 4 (Expected Income) */

/* Page 5 (Location / Zip code) */

/* Page 6 (Results) */
#calculator-wrapper #page-6 .output {
	position: relative;
	height: 40px;
	max-width: 384px;
	width: 100%;
	padding: 0px 8px;
	border-radius: 4px;
	text-align: left;
	line-height: 40px;
}
#calculator-wrapper #page-6 .output .label {
	position: absolute;
	left: 8px;
}
#calculator-wrapper #page-6 .output .value {
	position: absolute;
	right: 8px;
}

/* Page 7 (Disclosures) */
#calculator-wrapper #disclosures .body-text {
	text-align: left;
}

/*
Media Queries
*/

@media only screen and (max-width: 480px) {

	/* Page 3 (Member DOBs) */
	#calculator-wrapper #page-3 .scroll-mask {
	    width: 280px;
	    max-width: 280px;
	    overflow: hidden;
	}
	#calculator-wrapper #page-3 .scroll-mask .scroll-container {
	    width: 100%;
	    margin: 0 auto;
	    max-height: 220px;
	    overflow: hidden;
	    overflow-y: scroll;
	}
	#calculator-wrapper #page-3 .input {
		width: 256px;
	}
	#calculator-wrapper #page-3 .name-dob .dob {
	    display: inline-block;
	    position: relative;
	    width: 256px;
	   	max-width: 256px;
	    margin-bottom: 20px;
	}
	#calculator-wrapper #page-3 .name-dob .dob .day, #calculator-wrapper #page-3 .name-dob .dob .month {
	    width: 82px;
	}
	#calculator-wrapper #page-3 .name-dob .dob .year {
	    width: 82px;
	}
	#calculator-wrapper #page-3 .name-dob .name {
		width: 256px;
   		max-width: 256px;
		margin-bottom: 10px;
	}
	#calculator-wrapper #page-6 .output {
		position: relative;
		height: 40px;
		max-width: 384px;
		min-width: 256px;
		width: 80%;
		padding: 0px 8px;
		text-align: left;
		line-height: 40px;
	}
}
@media only screen and (max-width: 414px) {
	#calculator-wrapper {
		height: 702px;
	}
	#calculator-wrapper .pages {
		height: 624px;
	}
	#calculator-wrapper .pages .page {
		height: 624px;
	}
}
@media only screen and (max-width: 375px) {
	#calculator-wrapper {
		height: 627px;
	}
	#calculator-wrapper .pages {
		height: 552px;
	}
	#calculator-wrapper .pages .page {
		height: 552px;
	}
}
@media only screen and (max-width: 320px) {
	#calculator-wrapper {
		height: 568px;
	}
	#calculator-wrapper .pages {
		height: 498px;
	}
	#calculator-wrapper .pages .page {
		height: 498px;
	}
	#calculator-wrapper #page-1 .title {
		line-height: 28px;
	}
	#calculator-wrapper #page-6 .lead {
		margin-top: 56px;
	}
	#calculator-wrapper .page .title {
		font-weight: 200;
		font-size: 24px;
	}
	#calculator-wrapper .page .lead {
		font-weight: 200;
		font-size: 22px;
	}
	#calculator-wrapper .page .button {
		font-weight: 200;
		font-size: 18px;
	}
	#calculator-wrapper .page .cta {
		font-weight: 400;
		font-size: 18px;
	}
	#calculator-wrapper .page .body-text {
		font-weight: 400;
		font-size: 12px;
	}
	#calculator-wrapper .page .sub-text {
		font-weight: 400;
		font-size: 10px;
	}
	#calculator-wrapper .input, #calculator-wrapper .editable {
		font-size: 16px;
		font-weight: 200;
	}
	#calculator-wrapper #page-3 .scroll-mask {
		max-height: 156px;
	}
}